{% extends "base.html" %}

{% block content %}
<div class="stand">
    <div class="horz-center column">
        <div class="row">
            <div class="horz-center column">
                <img class="cover" src="{{ advertisement.cover }}">
                <h3>{{ advertisement.title }}</h3>
                <div class="row">
                    <h5>
                        <a class="vert-center" href="/users/{{ advertisement.publisher.name }}">
                            <img class="avatar-small" src="{{ advertisement.publisher.avatar }}">{{
                            advertisement.publisher.nickname }}
                        </a>
                    </h5>
                    <div class="row flexible vert-center">
                        {% if liked %}
                        <a href="/advertisements/{{ advertisement.id }}/unlike">
                            <button class="icon-btn">
                                <img class="icon" src="{{ url_for('static',filename='img/icons/like_active.svg') }}">
                            </button>
                        </a>

                        {% else %}
                        <a href="/advertisements/{{ advertisement.id }}/like">
                            <button class="icon-btn">
                                <img class="icon" src="{{ url_for('static',filename='img/icons/like.svg') }}">
                            </button>
                        </a>

                        {% endif %}

                        <h5>{{ formatter.to_abnum(advertisement.likes_count) }}</h5>
                        {% if responded %}
                        <a href="/advertisements/{{ advertisement.id }}/unrespond">
                            <button class="icon-btn">
                                <img class="icon" src="{{ url_for('static',filename='img/icons/respond_active.svg') }}">
                            </button>
                        </a>

                        {% else %}
                        <a href="/advertisements/{{ advertisement.id }}/respond">
                            <button class="icon-btn">
                                <img class="icon" src="{{ url_for('static',filename='img/icons/respond.svg') }}">
                            </button>
                        </a>

                        {% endif %}
                        <h5>{{ formatter.to_abnum(advertisement.responses_count) }}</h5>
                        {% if viewed %}
                        <img class="icon" src="{{ url_for('static',filename='img/icons/view_active.svg') }}">
                        {% else %}
                        <img class="icon" src="{{ url_for('static',filename='img/icons/view.svg') }}">
                        {% endif %}
                        <h5>{{ formatter.to_abnum(advertisement.views_count) }}</h5>
                    </div>
                </div>
            </div>
            <div class="horz-center column">
                <div class="box wide flexible">
                    <h3 class="text-center">Description</h3>
                    {% if advertisement.content %}
                    {{ advertisement.content }}
                    {% else %}
                    There are nothing to show
                    {% endif %}
                </div>
                {% if current_user.id == advertisement.publisher.id %}
                <div class="row wide">
                    <a href='/advertisements/{{ advertisement.id }}/edit'>
                        <button class="wide">Edit</button>
                    </a>
                    <a href='/advertisements/{{ advertisement.id }}/delete'>
                        <button class="critical wide">Delete</button>
                    </a>
                </div>
                {% else %}
                <div class="wide">
                    {% if responded %}
                    <a href='/advertisements/{{ advertisement.id }}/unrespond'>
                        <button class="wide">Unrespond</button>
                    </a>
                    {% else %}
                    <a href='/advertisements/{{ advertisement.id }}/respond'>
                        <button class="wide">Respond</button>
                    </a>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>
        {% if similar %}
        <h3>Similar advertisements</h3>
        <div class="card-gridview">
            {% for ad in similar %}
            <div class="card">
                <a href="/advertisements/{{ ad.id }}">
                    <div class="center">
                        <img class='card-cover'>
                    </div>
                    <h5>{{ ad.title }}</h5>
                </a>
                <a class="vert-center" href="/users/{{ ad.publisher.name }}"><img class="avatar-small"
                        src="{{ ad.publisher.avatar }}">{{ ad.publisher.nickname }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="column">
        {% if current_user.id == advertisement.publisher.id and advertisement.responses %}
        <div class="box">
            <h3 class="text-center">Responders</h3>
            {% for response in advertisement.responses %}
            <div class="row">
                <h5>
                    <a class="vert-center" href="/users/{{ response.subject.name }}">
                        <img class="avatar-small" src="{{ response.subject.avatar }}">{{ response.subject.nickname }}
                    </a>
                </h5>
            </div>
            {% endfor %}
        </div>
        {% endif %}


    </div>
</div>


{% endblock %}