{% extends "base.html" %}

{% block content %}
    <div class="center">
        <div class="box central-view">
            <div class="text-center">
                <h1>Edit advertisement</h1>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.cover.label }}<br>
                    {{ form.cover_data(class="form-control") }}
                    <img src="{{ form.cover_data.data[0] }}" id="preview" class="cover">
                    {{ form.cover(class="form-control") }}<br>
                    {% for error in form.cover.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                <script>
                    const imageInput = document.getElementById('image-input');
                    const imageData = document.getElementById('image-data');
                    const preview = document.getElementById('preview');
                    imageInput.addEventListener('change', function () {
                        const file = this.files[0];
                        if (file) {
                            const imgUrl = URL.createObjectURL(file);
                            const reader = new FileReader();
                            reader.onload = function (event) {
                                imageData.value = event.target.result
                                console.log('Результат (DataURL):', event.target.result);
                                ;
                            };
                            reader.readAsDataURL(file)
                            preview.src = imgUrl;
                            preview.style.display = 'block';
                            preview.onload = function () {
                                URL.revokeObjectURL(imgUrl);
                            }
                        }
                    });
                </script>
                </p>
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control") }}<br>
                    {% for error in form.title.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

                <p>
                    {{ form.content.label }}<br>
                    {{ form.content(class="form-control") }}<br>
                    {% for error in form.content.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.category.label }}<br>
                    {{ form.category(class="form-control") }}<br>
                    {% for error in form.category.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <h5 class="critical">{{ message }}</h5>
            </form>
        </div>

    </div>

{% endblock %}