<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{ url_for('static', filename='css/main-style.css' ) }}>
    <title>{{ title }}</title>
</head>

<body>
<header>
    <img class='logo-big' src="{{ url_for('static',filename='img/logo.svg') }}">
    <div class="brand">
        <h1>FaceSpace</h1>
        <h4>Find anyone for anything</h4>
    </div>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/find">Find</a>
        <a href="/profile">Profile</a>
    </nav>
    <div class="vert-center row">
        {% if current_user.is_authenticated %}
            <img class="avatar-small">
            <a class="navbar-brand" href="/profile">{{ current_user.name }}</a>
            <a href="/settings">
                <button class="img-btn">
                    <img src="{{ url_for('static',filename='img/icons/settings.svg') }}">
                </button>
            </a>
            <a href="/logout">
                <button class="img-btn">
                    <img src="{{ url_for('static',filename='img/icons/logout.svg') }}">
                </button>
            </a>
        {% else %}
            <p>
                <a href="/register">
                    <button>Register</button>
                </a>
                <a href="/login">
                    <button>Log in</button>
                </a>
            </p>
        {% endif %}
    </div>

</header>
<!-- Begin page content -->
<main role="main">
    {% block content %}{% endblock %}
</main>
<footer>
    <img class='logo-small' src="{{ url_for('static',filename='img/logo.svg') }}">
    <h5>© 2026 FaceSpace, Reflection</h5>
    <div>All rules are conserved</div>
</footer>
</body>
</html>