{% macro show(advertisement=None) %}
    <div class="card">
        <a href="/advertisements/{{ advertisement.id }}">
            <div class="center">
                <img class='card-cover' src="{{ advertisement.cover }}">
            </div>
            <h5>{{ advertisement.title }}</h5>
        </a>
        <a class=" vert-center" href="/users/{{ advertisement.publisher.name }}"><img
                class="avatar-small">
            {{ advertisement.publisher.nickname }}</a>
    </div>
{% endmacro %}