{% extends "base.html" %}

{% block content %}
    <div class="search-bar">
        <a>
            <button class="search-btn"><img src="{{ url_for('static',filename='img/icons/search.svg') }}"></button>
        </a>
        <input type="search" placeholder="Search">
    </div>
    <nav class="tab-bar">
        {% for category in categories %}
            {% if category.name == selected_category %}
                <a href="/categories/{{ category.name }}" class="tab selected">{{ category.name.capitalize() }}</a>
            {% else %}
                <a href="/categories/{{ category.name }}" class="tab">{{ category.name.capitalize() }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <h1>{{ 'Category: ' + selected_category.name.capitalize() if selected_category else 'All advertisments' }}</h1>
    <div class="card-gridview">
        {% for advertisement in advertisements %}
            <div class="card">
                <a href="/advertisements/{{ advertisement.id }}">
                    <div class="center">
                        <img class='card-cover' src="{{ advertisement.cover }}">
                    </div>
                    <h5>{{ advertisement.title }}</h5>
                </a>
                <a class="vert-center" href="/users/{{ advertisement.publisher.name }}"><img
                        class="avatar-small">{{ advertisement.publisher.nickname }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}