{% extends "base.html" %}
{% import "card.html" as card%}
{% block content %}
    <form action="/search/" class="search-bar" method="get">
        <button type="submit" class="search-btn"><img src="{{ url_for('static',filename='img/icons/search.svg') }}"></button>
        <input type="search" placeholder="Search" name="text">
    </form>
    <nav class="tab-bar">
        {% for category in categories %}
            {% if category.name == selected_category %}
                <a href="/categories/{{ category.name }}" class="tab selected">{{ category.name.capitalize() }}</a>
            {% else %}
                <a href="/categories/{{ category.name }}" class="tab">{{ category.name.capitalize() }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <h1>{{ 'Category: ' + selected_category.name.capitalize() if selected_category else 'All advertisments' }}</h1>
    <div class="card-gridview">
        {% for advertisement in advertisements %}
            {{ card.show(advertisement) }}
        {% endfor %}
    </div>
{% endblock %}