{% extends "base.html" %}
{% import "card.html" as card%}
{% block content %}
    <div class="stand">
        <div class="column">

        </div>
        <div class="column">
            <div class="row">
                <div class="horz-center column">
                    <img class="avatar-big">
                    <h3>{{ user.nickname }}</h3>
                    <h5><a href="/users/{{ user.name }}" class="tag">@{{ user.name }}</a></h5>
                </div>
                <div class="column">
                    <div class="box flexible">
                        <h4 class="text-center">About</h4>
                        {% if user.about %}
                            {{ user.about }}
                        {% else %}
                            <div class="info text-center">There are nothing to show</div>
                        {% endif %}
                    </div>
                    <div class="box flexible">
                        <h4 class="text-center">Contacts</h4>
                        {% if user.contacts %}
                            {% for contact, value in user.contacts.items() %}
                                {{ contact + ':' + value }}
                            {% endfor %}
                        {% else %}
                            <div class="info text-center">There are nothing to show</div>
                        {% endif %}
                    </div>
                    {% if user.id == current_user.id %}
                        <a href="/profile/edit">
                            <button class="wide">Edit</button>
                        </a>
                    {% endif %}
                </div>
            </div>
            <h3 class="text-center">All advertisements</h3>
            {%  if user.advertisements %}
                <div class="card-gridview">
                    {% for advertisement in user.advertisements %}
                        {{ card.show(advertisement) }}
                    {% endfor %}
                </div>
            {%  else %}
                <h3 class="info text-center">There are nothing to show</h3>
            {% endif %}
        </div>
        <div class="column">
            <div class="container column">
                {% if current_user.id == user.id %}
                    <h3 class="text-center">Responses</h3>
                    {% for response in user.responses %}
                        {{ card.show(response.object) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}