@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Global variables */
* {
    /* Colors */
    --accent-color: #36A9E1;
    --light-accent-color: #aaddff;
    --critical-color: #ff0000;
    --light-critical-color: #ff7e7e;
    /* foreground color */
    --fg-color: #ffffff;
    /* middleground color */
    --mg-color: #eeeeee;

    /* background color */
    --bg-color: #dddddd;
    --text-color: #202020;
    --text-on-bg-color: #707070;
    --text-on-mg-color: #666666;
    --text-info-color: #666666;
    --text-on-accent-color: #ffffff;
    --text-on-critical-color:#ffffff;
    /* Sizes */
    --container-padding: 30px;
    --normal-font-size: 16px;
    --box-border-radius: 20px;
    --field-border-radius: 16px;
    --field-padding: 16px 8px;
    --rounded-border-radius: 1000px;
    --button-padding: 0.5em 1em;
    --image-button-padding: 12px;
    --button-font-size: 18px;
    --button-border-radius: 16px;
    --gap: 20px;
    --card-width: 240px;
    --card-height: 320px;
    --card-cover-width: 160px;
    --card-cover-height: 160px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    --icon-size: 24px;
    --avatar-small-size: 32px;
    --avatar-big-size: 256px;
    --logo-big-size: 96px;
    --logo-small-size: 48px;
    --cover-size:320px;
}

/* Global settings */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Fredoka", sans-serif;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
    transition: 0.4s;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

a {
    text-decoration: none;
    font-weight: 450;
}

header {
    color: var(--text-color);
    background-color: var(--fg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main {
    background-color: var(--bg-color);
    color: var(--text-on-bg-color);
    padding: 5vh 5vw 5vh 5vw;
    width: calc(100% - 10vw);
    flex: 1;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    alignment-baseline: central;
    color: var(--text-on-accent-color);
    background-color: var(--accent-color);
    padding: 5vh 5vw 5vh 5vw;
}

footer > * {
    color: var(--text-on-accent-color);
    margin-left: 20px;
}

a:hover {
    color: var(--accent-color);
    cursor: pointer;
    font-style: normal;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > * {
    margin-left: var(--gap);
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.column > * {
    margin-top: var(--gap);
}

.flexible {
    flex: 1;
}

.horz-center {
    display: flex;
    align-items: center;
}

.horz-left {
    display: flex;
    justify-content: left;
}

.horz-right {
    display: flex;
    justify-content: right;
}

.vert-center {
    display: flex;
    align-items: center;
}

.central-view {
    width: 40vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    alignment-baseline: central;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.wide {
    width: 100%;
    box-sizing: border-box;
}

.info {
    color: var(--text-info-color);
}

.critical {
    color: var(--critical-color);
}

input, textarea {
    scale: 100%;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    padding: var(--field-padding);
    color: var(--text-on-bg-color);
    background-color: var(--bg-color);
    margin: 8px 0;
    border: none;
    border-radius: var(--field-border-radius);
    font-size: var(--normal-font-size);
    box-sizing: border-box;
    outline: none;
    accent-color: var(--accent-color);
}

input:focus, textarea:focus {
    background-color: var(--light-accent-color);
    color: var(--text-on-accent-color);
}

input[type="checkbox"] {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    accent-color: var(--accent-color);
}

input[type="submit"]:hover {
    scale: 105%;
    color: var(--text-on-accent-color);
    background-color: var(--light-accent-color);
}

input[type="submit"] {
    color: var(--text-on-accent-color);
    background-color: var(--accent-color);
    border: none;
}

input[type="submit"]:active {
    scale: 95%;
    background-color: var(--accent-color);
}
input[type="file"] {
    background-color: transparent;
    padding: 0;
}
input[type="file"]::file-selector-button {
    background-color: var(--accent-color);
    padding: var(--button-padding);
    color: var(--text-on-accent-color);
    border-radius: var(--button-border-radius);
    appearance: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
input[type="file"]::file-selector-button:hover {
    text: '100';
    scale:105%;
    background-color: var(--light-accent-color);
}
input[type='file']::file-selector-button:active{
    scale: 95%;
    background-color: var(--accent-color);
}

input[type='search'] {
    padding: var(--field-padding);
    color: var(--text-color);
    background-color: var(--fg-color);
    border-top-right-radius: var(--rounded-border-radius);
    border-bottom-right-radius: var(--rounded-border-radius);
}

select {
    background-color: var(--mg-color);
    padding: var(--button-padding);
    font-size: var(--normal-font-size);
    border: none;
    border-radius: var(--field-border-radius);
    appearance: none;
    outline: none;
}

button {
    font-size: var(--button-font-size);
    color: var(--text-on-accent-color);
    padding: var(--button-padding);
    background-color: var(--accent-color);
    border-radius: var(--button-border-radius);
    border: none;
    appearance: none;
    outline: none;
}

button:hover {
    scale: 105%;
    color: var(--text-on-accent-color);
    background-color: var(--light-accent-color);
}

button:active {
    scale: 95%;
    color: var(--text-on-accent-color);
    background-color: var(--accent-color);
}
button.critical {
    background-color: var(--critical-color);
    color:var(--text-on-critical-color);
}
button.critical:hover {
    background-color: var(--light-critical-color);
}
button.critical:active{
    background-color: var(--critical-color);
}
.img-btn {
    width: calc(2 * var(--image-button-padding) + var(--icon-size));
    height: calc(2 * var(--image-button-padding) + var(--icon-size));
    padding: var(--image-button-padding);
    border-radius: var(--rounded-border-radius);
}

.img-btn:hover {
    scale: 110%;
}

.img-btn:active {
    scale: 90%;
}

.img-btn > img {
    width: auto;
    height: auto;
    filter: invert(1);
}

.search-btn {
    width: auto;
    height: auto;
    padding: var(--image-button-padding);
    border-top-left-radius: var(--rounded-border-radius);
    border-bottom-left-radius: var(--rounded-border-radius);
}

.search-btn > img {
    width: var(--icon-size);
    height: var(--icon-size);
    filter: invert(1);
}

.search-btn:hover {
    scale: 100%;
}

.search-btn:active {
    scale: 100%;
}

.icon-btn {
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: var(--rounded-border-radius);
}

.icon-btn:hover {
    scale: 120%;
    background-color: transparent;
}

.icon-btn:active {
    scale: 80%;
    background-color: transparent;
}

.card-gridview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-columns: max-content;
    gap: var(--gap);
    padding: var(--container-padding);
    margin: 0 auto;
    max-width: 100%;
    animation: fadeIn 0.5s ease-in-out;

}


.card {
    padding: var(--container-padding);
    border-radius: var(--box-border-radius);
    background-color: var(--fg-color);
    color: var(--text-color);
    overflow: hidden;
    position: relative;
}

.card-cover {
    width: var(--card-cover-width);
    height: var(--card-cover-height);
}

.card:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: var(--box-shadow);

}

.card:active {
    scale: 95%;
}

.container {
    padding:var(--container-padding);
}

.box {
    background-color: var(--fg-color);
    padding: var(--container-padding);
    border-radius: var(--box-border-radius);

}

.stand {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--gap);
    max-width: 100%;
}

.brand {
    color: var(--accent-color);
}

.nav-bar {
    display: inline;
    align-self: center;
}

.nav-bar > a {
    font-size: 24px;
    margin-left: 10vw;
}

.tab-bar {
    display: flex;
    flex: 1 1 auto;
    justify-items: center;
    align-items: flex-start;
    alignment-baseline: central;
}

.tab {
    margin-left: var(--gap);
    border-radius: var(--rounded-border-radius);
    padding: var(--button-padding);
    background-color: var(--mg-color);
    color: var(--text-on-mg-color);

}

.tab:hover {
    cursor: pointer;
    scale: 110%;
    background-color: var(--light-accent-color);
    color: var(--text-on-accent-color);
}

.tab:active {
    cursor: pointer;
    scale: 90%;
    background-color: var(--accent-color);
    color: var(--text-on-accent-color);
}

.tab.selected {
    background-color: var(--accent-color);
    color: var(--text-on-accent-color);
}

.search-bar {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    alignment-baseline: central;
}

.avatar-small {
    width: var(--avatar-small-size);
    height: var(--avatar-small-size);
    border-radius: var(--rounded-border-radius);
    background-color: var(--mg-color);
}

.avatar-big {
    display: block;
    width: var(--avatar-big-size);
    height: var(--avatar-big-size);
    border-radius: var(--rounded-border-radius);
    background-color: var(--mg-color);
}

.tag {
    color: var(--accent-color)
}

.tag:hover {
    color: var(--light-accent-color);
}
.icon{
    width: var(--icon-size);
    height: var(--icon-size);
}
.logo-big {
    width: var(--logo-big-size);
}

.logo-small {
    width: var(--logo-small-size);
    background-color: white;
    border-radius: var(--rounded-border-radius);
}
.cover{
    width: var(--cover-size);
    height: var(--cover-size);
    background-color: var(--mg-color);
}